<h2 mat-dialog-title>Configure documents for {{serviceDetails.text}}</h2>
<div class="app-dialog" mat-dialog-content>

    <table class="table" mat-table [dataSource]="dataSource" *ngIf="dataSource.data.length>0">
        <ng-container matColumnDef="value">
            <th mat-header-cell *matHeaderCellDef> Code </th>
            <td mat-cell *matCellDef="let element"> {{element.value}} </td>
          </ng-container>

          <ng-container matColumnDef="text">
            <th mat-header-cell *matHeaderCellDef> Name </th>
            <td mat-cell *matCellDef="let element"> {{element.text}} </td>
            </ng-container>
            <ng-container matColumnDef="toolbox">
                <th mat-header-cell *matHeaderCellDef width ="40"> </th>
                <td mat-cell *matCellDef="let element"> 
                    <mat-button-toggle-group #group="matButtonToggleGroup">
                        <mat-button-toggle value="right" aria-label="Remove this item" (click)="OnDelete(element)">
                            <fa-icon [icon]="['far', 'trash-alt']"></fa-icon>
                        </mat-button-toggle>
                        </mat-button-toggle-group>
                </td>
                </ng-container>
      
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          </table>
          
    <div  fxLayout="row" fxLayoutWrap class="control-bar">
        <mat-form-field fxFlex="auto" fxFlex.gt-sm="90%">
          <mat-label>Choose Documents</mat-label>
          <input type="text" placeholder="Choose Documents" matInput [(ngModel)]="selectedDocument" 
            [formControl]="documentsListControl" [matAutocomplete]="auto">

          <button mat-button *ngIf="selectedDocument" matSuffix mat-icon-button aria-label="Clear" (click)="selectedDocument=''">
            <mat-icon>close</mat-icon>
          </button>
            <mat-autocomplete #auto="matAutocomplete" (optionSelected)="onSelectionChanged($event)">
                <mat-option *ngFor="let documents of filteredOptions | async" [value]="documents.text">
                    {{documents.value}}:{{documents.text}}
                </mat-option>
            </mat-autocomplete>
        </mat-form-field>
      
        <div style="padding: 10px;height: 40px;">
            <button mat-button mat-flat-button  (click)="OnAdd()" color="primary">Add</button>
        </div>

    </div>



</div>
<div mat-dialog-actions style="justify-content: flex-end;">
    <button mat-button (click)="OnOK()"    mat-flat-button color="primary">Ok</button>
    <button mat-button (click)="OnClose()" mat-flat-button color="warn">Cancel</button>
</div>
