
<div class="app-dialog" mat-dialog-content>
    <h2 >{{action}} Entity Shareholder Details</h2>
    <ng-template [ngIf]="action != 'Delete'" [ngIfElse]="delete">
        <div fxLayout="row wrap" class="edit-section">
            <mat-form-field fxFlex="auto" fxFlex.gt-sm="34%">
                <mat-label>Name</mat-label><input matInput [(ngModel)]="localData.name">
            </mat-form-field>
            <mat-form-field fxFlex="auto" fxFlex.gt-sm="33%">
                <mat-label>Former Name (if any)</mat-label><input matInput [(ngModel)]="localData.formerName">
            </mat-form-field>
            <mat-form-field fxFlex="auto" fxFlex.gt-sm="33%">
                <mat-label>Trading Name</mat-label><input matInput [(ngModel)]="localData.tradingName">
            </mat-form-field>
            <mat-form-field fxFlex="auto" fxFlex.gt-sm="20%">
                <br>
                <mat-label>UEN</mat-label><input matInput [(ngModel)]="localData.uen">
            </mat-form-field>
            <mat-form-field fxFlex="auto" fxFlex.gt-sm="20%">
                <br>
                <mat-label>Incorp. Date</mat-label>
                    <input matInput [matDatepicker]="incorpDate" [(ngModel)]="localData.incorpDate">
                    <mat-datepicker-toggle matSuffix [for]="incorpDate"></mat-datepicker-toggle>
                    <mat-datepicker #incorpDate></mat-datepicker>
            </mat-form-field>

            <mat-form-field fxFlex="auto" fxFlex.gt-sm="40%">
                <mat-label>Address</mat-label>
                <textarea matInput [(ngModel)]="localData.address" rows=2></textarea>
            </mat-form-field>
            
            <mat-form-field fxFlex="auto" fxFlex.gt-sm="20%">
                <br>
                <mat-label>Country</mat-label><input matInput [(ngModel)]="localData.country">
            </mat-form-field>

            <mat-form-field fxFlex="auto" fxFlex.gt-sm="20%">
                <mat-label>Phone</mat-label><input matInput [(ngModel)]="localData.phone">
            </mat-form-field>
            <mat-form-field fxFlex="auto" fxFlex.gt-sm="20%">
                <mat-label>Email</mat-label><input matInput [(ngModel)]="localData.email">
            </mat-form-field>


            <mat-form-field fxFlex="auto" fxFlex.gt-sm="20%">
                <mat-label>Status</mat-label>
                    <mat-select [(ngModel)]="localData.status" name="activeStatus">
                        <mat-option *ngFor="let type of activeStatus" [value]="type.value">
                            {{type.text}}
                        </mat-option>
                    </mat-select>
            </mat-form-field>
            <mat-form-field fxFlex="auto" fxFlex.gt-sm="20%">
                <mat-label>Representative</mat-label>
                    <mat-select [(ngModel)]="localData.representativeId" name="representative">
                        <mat-option *ngFor="let type of representativeList" [value]="type.value">
                            {{type.text}}
                        </mat-option>
                    </mat-select>
            </mat-form-field>        
        </div>
        

    </ng-template>
    <ng-template #delete>
        Sure to delete <b>{{localData.name}}</b>
    </ng-template>
</div>
<div mat-dialog-actions style="justify-content: flex-end;">
    <button mat-button (click)="OnImport()"    mat-flat-button color="primary">Import</button>
    <button mat-button (click)="OnOK()"    mat-flat-button color="primary">Ok</button>
    <button mat-button (click)="OnClose()" mat-flat-button color="warn">Cancel</button>
</div>
