<div class="mat-elevation-z4 app-page">

    <mat-toolbar class="page-toolbar">
        <h2 class="mat-headline center-align" style="margin-left: 20px;">Dashboard</h2>
        <span class="header-spacer"></span>
        <div  fxLayout="row"  style="margin-top: 20px;">

      
          </div>
    </mat-toolbar>

    <mat-card>
        <mat-card-content>
          <div fxLayout="row wrap" class="edit-section">

            <div fxFlex="auto" fxFlex.gt-sm="100%" >
              <div fxFlex="auto" fxFlex.gt-sm="50%" style="padding: 20px;">
                <h3>Top 5 Active Clients</h3>
                  <app-card-active-profile></app-card-active-profile>              
              </div>
              <div fxFlex="auto" fxFlex.gt-sm="50%" style="padding: 20px;">
                <app-card-events-info></app-card-events-info>              
              </div>
  
            </div>

            <div fxFlex="auto" fxFlex.gt-sm="100%" >
              <div fxFlex="auto" fxFlex.gt-sm="33%" style="padding: 20px;">
                <h3>Registraion Enquiry Pending</h3>
                  <app-card-client-summary [status]="registraionInProgress"></app-card-client-summary>              
              </div>
              <div fxFlex="auto" fxFlex.gt-sm="33%" style="padding: 20px;">
                <h3>Registraion Enquiry Completed</h3>
                  <app-card-client-summary [status]="registraionCompleted"></app-card-client-summary>              
              </div>
              <div fxFlex="auto" fxFlex.gt-sm="33%" style="padding: 20px;">
                <h3>Registraion Enquiry Terminated</h3>
                  <app-card-client-summary [status]="registraionTerminated"></app-card-client-summary>              
              </div>
  
            </div>

            <div fxFlex="auto" fxFlex.gt-sm="100%" style="padding: 20px;">
              <h3>Monthly Conversions - Created vs Completed for this year</h3>
                  <app-card-services-performance></app-card-services-performance> 
  
            </div>

            <div fxFlex="auto" fxFlex.gt-sm="100%" >
              <div fxFlex="auto" fxFlex.gt-sm="33%" style="padding: 20px;">
                <h3>Services Started</h3>
                  <app-card-services-status [status]="serviceStarted"></app-card-services-status>              
              </div>
              <div fxFlex="auto" fxFlex.gt-sm="33%" style="padding: 20px;">
                <h3>Services Ongoing</h3>
                  <app-card-services-status [status]="serviceRunning"></app-card-services-status>              
              </div>
              <div fxFlex="auto" fxFlex.gt-sm="33%" style="padding: 20px;">
                <h3>Services Finished</h3>
                  <app-card-services-status [status]="serviceFinished"></app-card-services-status>              
              </div>
  
            </div>

            <div fxFlex="auto" fxFlex.gt-sm="100%" style="padding: 20px;">
              <h3>Monthly Service Status Entity wise for this year</h3>
                  <app-card-services-summary></app-card-services-summary> 
  
            </div>
          </div>
        </mat-card-content>
 
      </mat-card>
</div>