<div class="mat-elevation-z4 app-page">
    <mat-toolbar class="page-toolbar">
        <h2 class="mat-headline center-align" style="margin-left: 20px;">Dashboard</h2>
        <span class="header-spacer"></span>
        <div  fxLayout="row"  style="margin-top: 20px;">

      
          </div>
    </mat-toolbar>
    <mat-card>
        <mat-card-content>
          <div fxLayout="row wrap" class="edit-section">
            <div fxFlex="auto" fxFlex.gt-sm="30%" style="padding: 20px;">
                <mat-card>
                    <mat-card-content>
                        <ngx-charts-pie-chart

                        [view]="view"
                        [results]="single"
                        [scheme]="colorScheme"
                            (select)="onSelect($event)"
                            >
                            </ngx-charts-pie-chart>
                    </mat-card-content>
                </mat-card>                
            </div>

       
          </div>

        </mat-card-content>
 
      </mat-card>
</div>