<div mat-dialog-content class="app-dialog">
    <h2 >Send document for signing</h2>
    <table class="table" mat-table [dataSource]="dataSource" *ngIf="dataSource.data.length>0">
      <ng-container matColumnDef="srNo">
        <th mat-header-cell *matHeaderCellDef> No. </th>
        <td mat-cell *matCellDef="let element; let i = index">{{i + 1}}</td>
      </ng-container>
        <ng-container matColumnDef="serviceName">
            <th mat-header-cell *matHeaderCellDef> Service Name </th>
            <td mat-cell *matCellDef="let element"> {{element.serviceName}} </td>
        </ng-container>
        <!-- Code Column -->
        <ng-container matColumnDef="businessProfileName">
          <th mat-header-cell *matHeaderCellDef> Profile Name </th>
          <td mat-cell *matCellDef="let element"> {{element.businessProfileName}} </td>
        </ng-container>
      <!-- Name Column -->
      <ng-container matColumnDef="officerName">
          <th mat-header-cell *matHeaderCellDef> Officer Name </th>
          <td mat-cell *matCellDef="let element"> {{element.officerName}} </td>
      </ng-container>
          <!-- Remarks Column -->
          <ng-container matColumnDef="documentName">
            <th mat-header-cell *matHeaderCellDef> Document Name </th>
            <td mat-cell *matCellDef="let element"> {{element.documentName}} </td>
          </ng-container>
          <ng-container matColumnDef="remarks">
            <th mat-header-cell *matHeaderCellDef> Remarks </th>
            <td mat-cell *matCellDef="let element"> {{element.remarks}} </td>
          </ng-container>

          <ng-container matColumnDef="status">
            <th mat-header-cell *matHeaderCellDef> Status </th>
            <td mat-cell *matCellDef="let element"> {{element.status}} </td>
          </ng-container>
        <!-- Get Details --> 
      <ng-container matColumnDef="toolbox">
          <th mat-header-cell *matHeaderCellDef width ="40"> </th>
          <td mat-cell *matCellDef="let element"> 
              <mat-button-toggle-group #group="matButtonToggleGroup" >
                <mat-button-toggle value="center" matTooltip="Send document for signing" 
                matTooltipClass="snackBarBackgroundColor" (click)="OnSignature(element)">
                  <fa-icon [icon]="['fas', 'signature']"></fa-icon>
                </mat-button-toggle>
                <mat-button-toggle value="center" matTooltip="View the document" 
                  matTooltipClass="snackBarBackgroundColor" [matMenuTriggerFor]="appMenu">
                  <fa-icon [icon]="['fas', 'download']"></fa-icon>
                </mat-button-toggle>
                  
                </mat-button-toggle-group>

                <mat-menu #appMenu="matMenu">
                  <button mat-menu-item (click)="OnDownload(1,element)">PDF sent for Signing</button>
                  
                  <button mat-menu-item (click)="OnDownload(3,element)">Final Signed</button>
                </mat-menu>

          </td>
        </ng-container>
  
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
</div>
<div mat-dialog-actions style="justify-content: flex-end;">
    <button mat-button (click)="OnDownloadAll()" mat-flat-button  color="primary">Download all Signed documents</button>
    <button mat-button (click)="OnClose()" mat-flat-button color="warn">Close</button>
</div>
