
.mat-cell {
    padding: 4px;
}

.robodoc-page-section {
    padding:10px;
}
.robodoc-page-header {
    background-color:$secondary-color;
    color:$primary;
    padding: 0 5px;
}
.robodoc-page-sub-header {
    background-color:$primary;
    color:$white;
    text-align: right;
    padding: 2px 16px 1px  0px ;
}
.robodoc-page-header .header-spacer {
    flex: 1 1 auto;
}
.robodoc-footer-toolbar {
    
    text-align: right;
}

.robodoc-footer-toolbar .button {
   padding: 6px;
}



.robodoc-page-header .mat-button-toggle {
    background-color: $primary;
    color: white;
}
.robodoc-page-header .mat-button-toggle-checked {
    background-color: $primary;
    color: white;
} 

.robodoc-page-section  .mat-form-field{
    padding: 6px;
}

.robodoc-table {
    width: 100%;
    max-height: calc(100vh - 200px);
    overflow-y: auto;
    padding: 10px;
}
.robodoc-table .mat-header-row .mat-header-cell{
    color: $primary;
    background: #fff;
    font-size: 16px;
    font-weight: 500;
}
.robodoc-table .mat-button-toggle {
    background-color: $primary;
    color: white;
}

.robodoc-table .mat-button-toggle-checked {
    background-color: $primary;
    color: white;
}    

