
<div mat-dialog-content class="app-dialog">
    <h2 >{{action}} Applications and Allotments</h2>
        <ng-template [ngIf]="action != 'Delete'" [ngIfElse]="delete">

            <div fxLayout="row wrap" class="edit-section">

                <mat-form-field fxFlex="auto" fxFlex.gt-sm="20%">
                    <mat-label>Transfer No
                        </mat-label><input matInput [(ngModel)]="localData.transferNo">
                </mat-form-field> 

                <mat-form-field fxFlex="auto" fxFlex.gt-sm="20%"> 
                    <mat-label>Date of Transfer</mat-label>
                        <input matInput [matDatepicker]="transferDate" [(ngModel)]="localData.transferDate" >
                        <mat-datepicker-toggle matSuffix [for]="transferDate"></mat-datepicker-toggle>
                        <mat-datepicker #transferDate></mat-datepicker>
                </mat-form-field>


                <mat-form-field fxFlex="auto" fxFlex.gt-sm="81%">
                    <mat-label>Transferor</mat-label>
                        <mat-select  name="transferorList" [(ngModel)]="localData.transferorId">
                            <mat-option *ngFor="let type of transferorList" [value]="type.value"> 
                                {{type.text}}
                            </mat-option>
                        </mat-select>
                </mat-form-field>

                <mat-form-field fxFlex="auto" fxFlex.gt-sm="20%">
                    <mat-label>Transferor Folio  No
                        </mat-label><input matInput [(ngModel)]="localData.transferorFolioNo">
                </mat-form-field> 
                <mat-form-field fxFlex="auto" fxFlex.gt-sm="20%">
                    <mat-label>Old No. of shares
                        </mat-label><input matInput [(ngModel)]="localData.transferorNoShares">
                </mat-form-field> 
                <mat-form-field fxFlex="auto" fxFlex.gt-sm="20%">
                    <mat-label>Old Certificate No
                        </mat-label><input matInput [(ngModel)]="localData.transferorCertificateNo">
                </mat-form-field> 
                <mat-form-field fxFlex="auto" fxFlex.gt-sm="20%">
                    <mat-label>Balance  No. of shares
                        </mat-label><input matInput [(ngModel)]="localData.balanceNoShares">
                </mat-form-field> 
                <mat-form-field fxFlex="auto" fxFlex.gt-sm="20%">
                    <mat-label>Balance  Certificate No
                        </mat-label><input matInput [(ngModel)]="localData.balanceCertificateNo">
                </mat-form-field> 

                <mat-form-field fxFlex="auto" fxFlex.gt-sm="81%">
                    <mat-label>Transferee</mat-label>
                        <mat-select  name="transfereeList" [(ngModel)]="localData.transfereeId">
                            <mat-option *ngFor="let type of transfereeList" [value]="type.value"> 
                                {{type.text}}
                            </mat-option>
                        </mat-select>
                </mat-form-field>

                <mat-form-field fxFlex="auto" fxFlex.gt-sm="20%">
                    <mat-label>Transferee Folio  No
                        </mat-label><input matInput [(ngModel)]="localData.transfereeFolioNo">
                </mat-form-field> 
                <mat-form-field fxFlex="auto" fxFlex.gt-sm="20%">
                    <mat-label>Transferee No. of shares
                        </mat-label><input matInput [(ngModel)]="localData.transfereeNoShares">
                </mat-form-field> 
                <mat-form-field fxFlex="auto" fxFlex.gt-sm="20%">
                    <mat-label>Transferee Certificate No
                        </mat-label><input matInput [(ngModel)]="localData.transfereeCertificateNo">
                </mat-form-field> 

            </div>
              
        </ng-template>
        <ng-template #delete>
            Sure to delete  
        </ng-template>
</div>
<div mat-dialog-actions style="justify-content: flex-end;">
    <button mat-button (click)="OnOK()"    mat-flat-button color="primary">{{action}}</button>
    <button mat-button (click)="OnClose()" mat-flat-button color="warn">Cancel</button>
</div>
